<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"default"}} -->
<main class="wp-block-group"><!-- wp:pattern {"slug":"g2rd-child/hero"} /-->
<!-- wp:pattern {"slug":"g2rd-child/technologies"} /-->
<!-- wp:pattern {"slug":"g2rd-child/expertises"} /-->
<!-- wp:pattern {"slug":"g2rd-child/editorial-seo"} /-->
<!-- wp:pattern {"slug":"g2rd-child/portfolio"} /-->
<!-- wp:pattern {"slug":"g2rd-child/wp-manager"} /-->
<!-- wp:pattern {"slug":"g2rd-child/process"} /-->
<!-- wp:pattern {"slug":"g2rd-child/stats"} /-->
<!-- wp:pattern {"slug":"g2rd-child/testimonials"} /-->
<!-- wp:pattern {"slug":"g2rd-child/blog"} /-->
<!-- wp:pattern {"slug":"g2rd-child/faq"} /-->
<!-- wp:pattern {"slug":"g2rd-child/cta"} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
