<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"default"}} -->
<main class="wp-block-group"><!-- wp:group {"tagName":"section","className":"g2rd-page-hero","layout":{"type":"default"}} -->
<section class="wp-block-group g2rd-page-hero"><!-- wp:group {"className":"g2rd-wide","layout":{"type":"default"}} -->
<div class="wp-block-group g2rd-wide"><!-- wp:paragraph {"className":"g2rd-meta"} -->
<p class="g2rd-meta">L'équipe</p>
<!-- /wp:paragraph -->

<!-- wp:post-title {"level":1} /-->

<!-- wp:group {"className":"g2rd-page-hero__meta","layout":{"type":"flex"}} -->
<div class="wp-block-group g2rd-page-hero__meta"><!-- wp:post-terms {"term":"categories-qui-sommes-nous"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group --></section>
<!-- /wp:group -->

<!-- wp:group {"className":"g2rd-single-featured","layout":{"type":"default"}} -->
<div class="wp-block-group g2rd-single-featured"><!-- wp:post-featured-image /--></div>
<!-- /wp:group -->

<!-- wp:group {"className":"g2rd-single-content","layout":{"type":"default"}} -->
<div class="wp-block-group g2rd-single-content"><!-- wp:post-content /--></div>
<!-- /wp:group -->

<!-- wp:pattern {"slug":"g2rd-child/cta"} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
