<!-- wp:template-part {"slug":"header","theme":"g2rd-theme","area":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group">
  <!-- wp:post-featured-image {"height":"25rem","align":"full"} /-->

  <!-- wp:columns {"verticalAlignment":"center"} -->
  <div class="wp-block-columns are-vertically-aligned-center">
    <!-- wp:column {"verticalAlignment":"center","width":"10%"} -->
    <div
      class="wp-block-column is-vertically-aligned-center"
      style="flex-basis: 10%"
    >
      <!-- wp:image {"lightbox":{"enabled":false},"width":"61px","height":"auto","sizeSlug":"full","linkDestination":"none","align":"center","style":{"shadow":"none"}} -->
      <figure class="wp-block-image aligncenter size-full is-resized">
        <img style="box-shadow: none; width: 61px; height: auto" />
      </figure>
      <!-- /wp:image -->
    </div>
    <!-- /wp:column -->

    <!-- wp:column {"verticalAlignment":"center","width":"90%"} -->
    <div
      class="wp-block-column is-vertically-aligned-center"
      style="flex-basis: 90%"
    >
      <!-- wp:post-title {"level":1} /-->
    </div>
    <!-- /wp:column -->
  </div>
  <!-- /wp:columns -->

  <!-- wp:post-content /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"g2rd-theme","area":"footer"} /-->
