<!-- wp:template-part {"slug":"header-color","theme":"g2rd-theme","area":"header"} /-->

<!-- wp:group {"tagName":"main","className":"is-style-default","layout":{"type":"constrained"}} -->
<main class="wp-block-group is-style-default">
  <!-- wp:group {"align":"full","layout":{"type":"constrained"}} -->
  <div class="wp-block-group alignfull">
    <!-- wp:columns {"verticalAlignment":"center","style":{"spacing":{"blockGap":{"left":"var:preset|spacing|m"}}}} -->
    <div class="wp-block-columns are-vertically-aligned-center">
      <!-- wp:column {"verticalAlignment":"center","width":"10%"} -->
      <div
        class="wp-block-column is-vertically-aligned-center"
        style="flex-basis: 10%"
      >
        <!-- wp:post-featured-image {"isLink":true,"aspectRatio":"1","height":"5em","scale":"contain","align":"center","style":{"spacing":{"margin":{"top":"0","right":"0","bottom":"0","left":"0"}}}} /-->
      </div>
      <!-- /wp:column -->

      <!-- wp:column {"verticalAlignment":"center","width":"65%"} -->
      <div
        class="wp-block-column is-vertically-aligned-center"
        style="flex-basis: 65%"
      >
        <!-- wp:post-title {"level":1} /-->
      </div>
      <!-- /wp:column -->

      <!-- wp:column {"verticalAlignment":"center","width":"25%"} -->
      <div
        class="wp-block-column is-vertically-aligned-center"
        style="flex-basis: 25%"
      >
        <!-- wp:post-terms {"term":"categories-prestations","textAlign":"right"} /-->
      </div>
      <!-- /wp:column -->
    </div>
    <!-- /wp:columns -->
  </div>
  <!-- /wp:group -->

  <!-- wp:post-content {"align":"full","layout":{"type":"constrained"}} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"g2rd-theme","area":"footer"} /-->
